body {
    background-image: url('../img/DoctorBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 64%;
    padding-left: 10%;
}
.container {

    margin:15%;
    border-radius: 25px;
    box-shadow: 0 0 120px #2c3e50 ;

}
.b{
    color: white;
    font-size: 25px;
  font-family: COCO;
}

.header h1 {
    font-family: COCO;
    color: white;
    font-size: 60px;
    cursor: default;
}
.main {
    text-align: center;
}

.main input, button {
    border:none;
    outline: none;
    font-size: 18px;
    color: black;
    margin-bottom: 40px;
    border-radius: 15px;
    box-shadow: 0 0 90px #2c3e50 ;
}
.l1{
    background-position-y: 10px;
    background-position-x: 10px;
    background-image: url("../img/usericon.svg");
    background-repeat: no-repeat;
    alignment: center;
}
.l2{
    background-position-y: 10px;
    background-position-x: 10px;
    background-image: url("../img/passwordicon.svg");
    background-repeat: no-repeat;
}

.main button {
    padding-left: 0;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 70px;
    border-radius: 15px;


}
.header {
    text-align: center;
    padding-top: 75px;}


.header h1 {
font-family: COCO;
    color: #2c3e50;
    font-size: 45px;
    margin-bottom: 60px;
    font-weight: bold;
}

.main input, button {
    width: 300px;
    height: 40px;
    border:none;
    outline: none;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 15px;
    color: #2c3e50;
    margin-bottom: 40px;
    box-shadow: 0 0 20px #2c3e50 ;
}

.main button {
    padding-left: 0;
    background-color: #2c3e50;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 30px;
}

.main button:hover {
    box-shadow: 2px 2px 5px #555;
    background-color: #007780;
}
.main input:hover {
    box-shadow: 2px 2px 5px #555;
    background-color:#ccfcff ;
}
.GOODental{
    font-size: 100px;
    position: relative;
    margin-left:250px ;
    margin-bottom: -40px;
    margin-top: 10px;
    color: #2c3e50;
    font-family: Poppins,sans-serif;
    font-weight:  bold;
    -webkit-text-stroke: 0.12vw #007780 ;
    cursor: default;

}

.GOODental::before {
    content: attr(data-text);
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 540px;
    height: 90%;
    color: white;
    border-right: 2px solid white;
    overflow: hidden;

animation:animate 3s linear infinite alternate;
}
 @keyframes animate  {
    0%
    {width: 0px;}
    100%{width: 540px;}
 }

 .signup{
border: 3px green;
  color:#2c3e50;
     font-family: Poppins;
     cursor: default;
     font-size:18px;
     padding-bottom: 50px;
 }

 .sp{
     color: white;
     text-decoration: underline;
     font-weight: bold;


 }
.signup .sp:hover  {
    color:#ccfcff;
    cursor: pointer;
}






