body {
    background-image: url('../img/DoctorBackground.png');

    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 64%;
    padding-left: 10%;


}
.container {

    margin:20%;
    border-radius: 25px;
    box-shadow: 0 0 20px white ;
}
.b{
    color: white;
    font-size: 25px;
  font-family: COCO;
}
.header {
    padding-top: 60px;
}
.header h1 {
    font-family: COCO;
    color: white;
    font-size: 60px;
    margin-bottom: 50px;
}
.main {
    text-align: center;
}
.main input, button {
    width: 300px;
    height: 40px;
    border:none;
    outline: none;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 18px;
    color: black;
    margin-bottom: 40px;
    border-radius: 15px;
}
.main button {
    padding-left: 0;
    background-color: darkseagreen;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 70px;
    border-radius: 15px;
}


.header {
    text-align: center;
    padding-top: 75px;
}

.header h1 {

    color: white;

    font-size: 45px;
    margin-bottom: 80px;
}

.main {
    text-align: center;
}

.main input, button {
    width: 300px;
    height: 40px;
    border:none;
    outline: none;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 15px;
    color: #333;
    margin-bottom: 40px;
}

.main button {
    padding-left: 0;
    background-color: #83acf1;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 70px;
}

.main button:hover {
    box-shadow: 2px 2px 5px #555;
    background-color: #7799d4;
}
.main input:hover {
    box-shadow: 2px 2px 5px #555;
    background-color: #ddd;
}

.main span {
    position: relative;
}

.main i {
    position: absolute;
    left: 15px;

    font-size: 16px;
    top: 2px;
}




