*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    color:#2c3e50;
    /*font-family: ;*/
}
.service{
    width: 100%;
    padding: 100px 60px;
    margin: auto;
    margin-bottom: -10%;
}
.service h1{
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    position: relative;
    margin-bottom: 60px;
    padding-bottom: 15px;
}

.service h1::after{
    content:'';
    position: absolute;
    width: 210px;
    height: 3px;
    background-color: white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    width: calc(34% - 20px);
    background-color: #00cccc;
    color: #2c3e50;
    padding: 40px 10px;
    text-align: center;
    margin: 0 50px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 5px 2px #5c636a;
}
.box{

}
.box i{
    font-size: 40px;
    border-radius: 50%;
    border: 1px solid black;
    padding: 15px;
    transition: all 0.3s ease;
}
.box h3{
    font-size: 25px;
}
.box p{
    margin: 15px 0;
}
.card:hover .box i{
background-color: #00cccc;
    color: white;
    border-color: #00cccc;

}
.card::after{
    content: '';
    position: absolute;
    height: 100%;
    width:100%;
    border-radius: 10px;
    background-color: #2c3e50;
    top: 0;
    left: 0;
    z-index:  -1;
    /*transform: rotate(15deg);*/
    transition: all 0.5s ease;
}
.card:hover::after{
    /*transform: rotate(-15deg);*/
    background-color: #00cccc;
}
.sss{
    margin-top: 10%;
    height: 100vh;
}
/*.quote{*/
/*    margin-top: 10%;*/
/*    padding-top: 10%;*/
/*    padding-bottom: 5%;*/
/*    !*height: 100vh;*!*/
/*    background-image:url("../img/fd.jpg");*/
/*    background-size: cover;*/
/*    position: relative;*/
/*    text-align: center;*/
/*    color: white;*/
/*}*/
/*.quote::before{*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    !*background-color: rgb(0 0 0 / 75%);*!*/
/*}*/
/*.quote .container{*/
/*    position: relative;*/
/*}*/
/*.quote q{*/
/*    font-size: 30px;*/
/*    font-weight: bold;*/
/*    margin-bottom: 20px;*/
/*    display: block;*/
/*}*/
/*@media (max-width: 991px){*/
/*    .service .content .card .box{*/
        /*flex-basis: calc(50%- 30px);*/
        /*max-width: calc(50% - 30px);*/

/*    }*/
/*    .card{*/

/*        flex-basis: calc(50%- 30px);*/
/*        width:100%;*/
/*        margin: 25px;*/
/*    }*/

/*}*/
/*@media (max-width: 767px){*/
/*    .service .content .card .box{*/
/*        flex-basis: calc(100vh);*/
/*        max-width: calc(100vh);*/
/*    }*/

/*}*/