body {
    background-image: url('../img/pic3.jpg');
    background-repeat: no-repeat;
    margin: 5%;
    padding-right: 58%;
    background-size: cover;
    }

.container {

    border-radius: 25px;
    box-shadow: 0 0 120px #2c3e50 ;
}

.header h1 {
    text-align: center;
    padding-top: 40px;
    font-family: COCO;
    color:#2c3e50 ;

    font-size: 60px;
    cursor: default;}

.main  {
    text-align: left;
    border:none;
    font-size: 22px;
    color: #2c3e50;
    margin: 8%;
    margin-top: 0%;
    width: 300px;
    height: 400px;
}
.main button,input{
    margin-bottom: 23px;
}
.butt {
    border:none;
    outline: none;
    color:#2c3e50;
    width: 270px;
    height: 30px;
    font-size: 18px;
    font-family: COCO;
    border-radius: 10px;
    box-shadow: 0px 0px 90px #2c3e50 ;
    padding-left: 35px;
}
.sex{
    width: 15px;
    height: 15px;
    margin-left: 30PX;
    color: #2c3e50;
    cursor:pointer;}

.main button{
    background-color:#2c3e50;
    color: white;
    font-size: 20px;
    font-family: COCO;
    font-weight: bold;
    width:220px;
    height: 35px;
    border-radius: 10px;
    border: none;
    margin-left: 35px;
    margin-top: 25px;
    cursor:pointer;
}

.main button:hover {
    box-shadow: 0px 0px 5px #555;
    background-color: #007780;
}
.main input:hover {
    box-shadow: 2px 2px 5px #2c3e50;
    background-color:#ccfcff ;

}

.GOODental{
    font-size: 80px;
    position: relative;
    margin-left:400px ;
    margin-bottom: -60px;
    margin-top: 4px;
    color: #2c3e50;
    font-family: Poppins,sans-serif;
    font-weight:  bold;
    -webkit-text-stroke: 0.12vw #007780 ;
    cursor: default;


}

.GOODental::before {
    content: attr(data-text);
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 430px;
    height: 90%;
    color: white;
    border-right: 2px solid white;
    overflow: hidden;

    animation:animate 3s linear infinite alternate;
}
@keyframes animate  {
    0%
    {width: 0px;}
    100%{width: 430px;}
}

.l1{
    background-position-y: 5px;
    background-position-x: 5px;
    background-image: url("../img/usericon.svg");
    background-repeat: no-repeat;
    alignment: center;
}
.l2{
    background-position-y: 3px;
    background-position-x: 3px;
    background-image: url("../img/pngwing.png");
    background-repeat: no-repeat;
    alignment: center;
}
.l3{
    background-position-y: 5px;
    background-position-x: 8px;
    background-image: url("../img/pngwing.com.png");
    background-repeat: no-repeat;
    alignment: center;

}
.l4{
    background-position-y: 5px;
    background-position-x: 5px;
    background-image: url("../img/passwordicon.svg");
    background-repeat: no-repeat;
}
