body {
    background-image: url('../img/pic3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5%;
    padding-right: 52%;}

.container {
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 0 120px #2c3e50 ;}

.header h1 {
    font-family: COCO;
    color:#2c3e50 ;
    margin-left: 30%;
    font-size: 60px;
    cursor: default;}

.main input, button {
    border:none;
    font-size: 25px;
    color: black;
    margin-bottom: 10%;
    border-radius: 25px;
    box-shadow: 0 0 90px #2c3e50 ;
    width: 200px;
}
.main {
    text-align: center;
}
