
* {
    padding:0;
    margin:0;
    text-decoration:none;
    list-style:none;
    box-sizing:border-box;
}
body{
    font-family: montserrat;
}
div.spaceofnav{
    padding-top: 80px;
}
nav{
    background: #80ffcc;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 100;

}
span.finallogo{
    padding: 0 100px;
}
label.logo{
    color: white;
    font-family:'Ubuntu', sans-serif;
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
}
img.logopic{
    width: 80px;
    height: 70px;

}
nav ul{
    float: right;
    margin-right: 20px;
/*    20*/
}
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 7px;
}
a.active,a:hover{
    background: #b3ffe0;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px) {
    /*1020*/
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
/*    1020*/
.checkbtn{
    display: block;
}
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        transition: all .5s;
        text-align: center;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

div.imgbg{
    background-image:url("../img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(90vh);
}
div.maintk{
    position: absolute;
    top: 115%;
    left: 12%;
    z-index: 1;
    margin: 2px 2px;
}
h1.titlede{
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 60px;
    /*color: #80ffcc;*/
    font-family: 'Ubuntu', sans-serif;
}
div.cardss{
    /*position: absolute;*/
    float: left;
    top: 355%;
    margin: 2px 2px;
    /*left: 20%;*/
    /*transform: translate(-50%, -30%);*/
    z-index: 1;
}
